pandas
scikit-learn
pydantic
tenacity
tqdm

kagglehub
datasets
#textwrap

# ------- api calls ------- #
# secrets managment
python-dotenv
# third party models
openai
anthropic 
google.genai


# ------- local calls ------- #
huggingface_hub
outlines


# ------- fine tuning ------- #
torch
transformers
# transformers==5.17.0
accelerate
peft
# peft==0.21.0
trl
# trl==1.13.0
datasets
bitsandbytes>=0.46.1
torchao>=0.16.0
kagglehub


openpyxl 
pyarrow