

pandas
pydantic
tenacity

# ------- api calls ------- #
# secrets managment
python-dotenv
# third party models
openai
anthropic 
google-generativeai 



# ------- local calls ------- #
ollama
hugging_face

